@import url('https://db.onlinewebfonts.com/c/3ba5f774e7fd55929fc1bfa6205986a4?family=Copperplate+Gothic+LT+W01+29BC');
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Comic+Relief:wght@400;700&family=Zen+Kaku+Gothic+New&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


/* Resets the box model for every single element */
*, *::before, *::after {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Anime Ace';
    src: url('fonts/animeace.ttf') format('truetype');
}

@font-face {
    font-family: 'Who Dares';
    src: url('fonts/Who\ Dares!.otf') format('truetype');
}

@font-face { /* NOT USED YET */
    font-family: 'Comica Regular';
    src: url('fonts/ComicaRegular.otf') format('truetype');
}

@font-face {
    font-family: 'Son of Time';
    src: url('fonts/SonOfTmU.ttf') format('truetype');
}

@media (max-width: 576px) {
    .navbar {
        text-align: center;
    }
    #header-logo  {
        max-width: 200px;
        min-width: 100px;
        width: fit-content;
    }
    section {
        margin: 0.5em 0.1em 0.5em; /* Much smaller side margins on mobile */
        padding: 0.2em 0.1em;
        font-size: 0.8em; /* Slightly smaller font size for mobile */
        align-items: center;
        justify-content: center;
    }
    .section-title {
        font-size: 1.2em; /* Slightly smaller title for mobile */
        padding-left: 0.3em;

    }
    .section-text {
        font-size: 0.9em; /* Slightly smaller text for mobile */
        padding: 0.4em 0.5em;
        margin: 0.2em 0.3em;
    }
    button.btn {
        font-size: 0.8em;
        padding: 0.5em;
        margin: 0.5rem 0.5rem; /* Added vertical spacing between wrapped buttons */
    }
    /* 2x2 grid layout for themes section buttons */
    .themes ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* 2 columns */
        gap: 1rem; /* Space between buttons */
        padding: 0 1rem;
    }
    .themes ul li {
        width: 100%; /* Fill the grid cell */
    }
    .themes button.btn {
        width: 100%; /* Make buttons fill their container */
        margin: 0; /* Remove margin since gap handles spacing */
        font-size: 1.3em;
    }
    .narratives ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0.5rem;
        padding: 0 0.5rem;
    }
    .narratives ul li {
        width: 100%;
    }
    .narratives button.btn {
        width: 100%;
        margin: 0;
        text-align: center;
        font-size: 1.3em;
    }
    .intro-quotes {
        align-items: center;
        justify-content: center;
        width: fit-content;
        padding: 0.1em;
        margin: 0.5em auto 1em; /* Adjusted margins for mobile */
        font-size: 1em; /* Slightly smaller font size for mobile */
    }
    #intro-text {
        margin: 1em auto 0.5em !important; /* Adjusted margins for mobile */
        align-items: center;
        padding: 0.8em 1em 0.8em;
        justify-content: center;
        font-size: 1.1em;
    }
}

:root {
    --navbar-overlap: 58px;
    --navbar-height: 60px;
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 0;
    /* 1. FIX THE WHITE SPACE ON THE RIGHT */
    /* This cuts off anything that sticks out horizontally */
    overflow-x: hidden; 
    
    /* 2. HIDE THE SCROLLBAR (Firefox) */
    scrollbar-width: none;  
    /* 2. HIDE THE SCROLLBAR (IE and Edge legacy) */
    -ms-overflow-style: none;  

}

/* 3. HIDE THE SCROLLBAR (Chrome, Safari, Opera) */
body::-webkit-scrollbar { 
    display: none !important; 
}


/* TODO: make header bg overlpa in bg with navbar and make repsonsive */
.header {
    /* background-color: #e22012; temporary set */
    width: 100%;
    margin: 0;
    height: calc(25vh + var(--navbar-overlap)) !important; /* Adjust height to account for navbar overlap */
    overflow-x: hidden; 
    /* border-bottom: 2px solid black; */
}

.header a {
    display: block;      /* Removes inline spacing weirdness */
    line-height: 0;      /* Kills any text-height gaps inside the link */
    margin-bottom: 0;    /* Ensure no extra push from the link itself */
}

#header-bg {
    width: 100%;
    height: calc(25vh + var(--navbar-overlap));
    /* properties in case of using background-image: here:width:
    background-size: cover;  
    background-position: center; 
    background-repeat: no-repeat; */
    object-fit: cover; /* Ensures the image covers the entire area without distortion */
    object-position: center 5%;
    position: absolute;
    z-index: 0; 
}

#header-logo, #header-subtitle {
    z-index: 5;
    /*align-self: center;
    justify-self: center;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
}

#header-logo {
    max-width: 350px;
    margin: -20px auto 1px;
    filter: drop-shadow(0 0 3px rgba(255, 255, 255, 0.443));
}

#header-subtitle {
    font-family: 'Copperplate Gothic LT W01 29BC', serif;
    font-size: 1em;
    background-color: rgba(255, 255, 255, 0.92);
    position: relative;
    width: fit-content;
    margin: -25px auto 5px;
    padding: 0.1em 1em;
    border-radius: 3px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.412);
}

.navbar {
    background-color: #565656eb;
    width:100%;
    margin-top: calc(var(--navbar-overlap) * -1); /* Pull the navbar up to overlap with the header */
    position: sticky;
    z-index: 10; /* Ensures the navbar stays above the header */
    border-top: 1.5px solid black;
    border-bottom: 2px solid black;
}

.nav-link {
    font-family: 'Anime Ace', sans-serif;
    font-weight: 600;
    font-size: 1em;
    color: rgb(28, 28, 28) !important;
}

.nav-link:hover {
    color:#fffffff1 !important;
    background-color: rgba(255, 255, 255, 0.371);
    border-radius: 8px;
}

/* .navbar-nav .nav-link:not(.dropdown-toggle)::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 50%;
    background-color: #e22012;
    transition: all 0.3s ease;
    transform: translateX(-50%);
} */

/* .navbar-nav .nav-link:not(.dropdown-toggle):hover::after {
    width: 45%;  Line grows to 70% of the link width 
} */

.dropdown-menu {
    background-color: #565656fb;
    border: 1.5px solid black;
    font-family: 'Anime Ace', sans-serif;
    font-weight: 600;
    font-size: 0.8em;
}

@media (min-width: 768px) {
    #dropdown-themes {
        text-align: right;
    }
}

.dropdown-item:hover {
    background-color: rgba(255, 255, 255, 0.371);
    color:#fffffff1 !important;
    
}

@media (min-width: 768px) {
    .navbar-nav.mx-auto {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
}

main {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 100%;
    justify-content: center;
    
    /* Set a backup color in case the image fails to load */
    background-color: #6d6d6d;

    /* WE ARE DEFINING TWO LAYERS HERE */
    background-image: 
        /* LAYER 1 (Top): The Shadow/Gradient */
        /* This stays on top and creates the dark header/footer */
        linear-gradient(
            to bottom, 
            rgba(0,0,0,1) 0%,      /* Solid Black at Top */
            rgba(0, 0, 0, 0.6) 10%,   /* Fading out */
            rgba(0,0,0,0) 25%,     /* Transparent Middle */
            rgba(0,0,0,0) 75%,     /* Still Transparent */
            rgba(0,0,0,0.6) 90%,   /* Fading back in */
            rgba(0,0,0,1) 100%     /* Solid Black at Bottom */
        ),
        
        /* LAYER 2 (Bottom): Your Image File */
        url('/images/manga-texture.png'); 

    /* SIZING THE LAYERS */
    /* 1. The Gradient: Stretches to cover the full width/height (100% 100%) */
    /* 2. The Image: Keeps its original pixel size (auto) so it stays crisp */
    background-size: 100% 100%, auto;

    /* REPEATING THE LAYERS */
    /* 1. Gradient: NO repeat (we want it to stretch) */
    /* 2. Image: REPEAT (we want it to tile infinitely) */
    background-repeat: no-repeat, repeat;

    /* SCROLLING BEHAVIOR */
    /* 'scroll' = The texture moves up when you scroll (Normal) */
    /* 'fixed' = The texture stays still while text slides over it (Parallax) */
    background-attachment: scroll, scroll; 
    
    /* Ensure the body is at least as tall as the screen */
    min-height: 100vh;
    margin: 0;

}

section {
    background-color: rgb(194, 194, 194);
    margin: 2em 3em 2em;
    padding: 0.2em;
    border: 1.5px solid black;
}

.section-title {
    font-family: 'Copperplate Gothic LT W01 29BC', serif;
    font-size: 2.5em;
    padding-top: 0.3em;
    padding-left: 0.9em;
    margin-bottom: 0.5px;
    
    /* 1. Set the inside color */
    color: black; 

    /* 2. Create the true vector border */
    -webkit-text-stroke: 4.5px white; 
    
    /* 3. CRITICAL: This ensures the border sits BEHIND the letter.
       Without this, the white border will bleed inside and make 
       your black text look too thin. */
    paint-order: stroke fill;
    
    /* 4. Remove the old hack */
    text-shadow: none;
    letter-spacing: 0.09rem;
}

.section-text {
    font-family: 'Anime Ace', sans-serif;
    text-align: justify;
    font-size: 1em;
    padding: 0.5em 1em;
    color: black;
}

section ul {
    list-style-type: none; /* Removes Bullets */
    padding: 0;            /* Removes Indentation */
    margin: 1em 0;
    display: flex;         /* Optional: aligns buttons horizontally */
    flex-wrap: wrap;       /* Wraps if they don't fit */
    justify-content: space-around;
}

button.btn {
    font-size: 1.4em;
    margin: 0 auto;
    padding: 1em 1.5em;
    border-radius: 20px;
}

#five-hundred {
    font-family: 'Son of Time', sans-serif;
    color: #704214;
    background-image: url('../images/Judith_Beheading_Holofernes_-_Caravaggio.jpg');
    background-size: cover;
    background-position: center;
}

#five-hundred::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.645); /* Black with 50% opacity */
  z-index: 1; /* Keeps overlay above image but below content */
}

.intro {
    background-color: transparent;
    border: 0;
}

.intro-quotes {
    color:#b71b10;
    background-color: rgb(226, 226, 226);
    padding: 0.8em;
    margin: 0.5em auto 1.5em; /* TODO: I don't why it's not shrinking both left and right but check */
    border: 1px solid rgb(238, 238, 238);
    border-radius: 20px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 30%);
    text-align: center;
    width: fit-content;
    max-width: 90%;
}

#motto-title-en {
    font-family: 'Who Dares', sans-serif;
    font-size: 2.5em;
    font-weight: 700;
    text-wrap: nowrap;
}

#motto-title-jp {
    font-family: 'Zen Kaku Gothic New', sans-serif;
    font-size: 2em;
}

#intro-text {
    background-color: rgb(226, 226, 226);
    padding: 1.2em 2.1em;
    margin: 2em 8em 1em;
    border: 1.5px solid black;
    font-size: 0.8em;
    color: black;
    text-align: center;
}

#intro-text a {
    color: #a11e15;
    text-decoration: none;
}

#intro-text a:hover {
    text-decoration: underline;
}

#intro-text em {
    font-size: 1.1em;
    padding: 0 0.2rem 0;
    color: #a11e15;
}

.bigger-cap {
    font-size: 1.3em;
    display: inline-block;
}

.collection {
    margin-bottom: 0.5rem; /* Adjusting this specifically to these two sections sit closer together */
    background-color: rgb(13, 13, 13);
    padding: 1rem;
}

.collection .section-title {
    margin-top: 0;
    padding-top: 0.3em !important;
}

#collection-intro {
    -webkit-text-stroke: 3.5px rgba(255, 255, 255, 0.9);
    paint-order: stroke fill;
}

.note {
    text-align: right;
    font-family: 'Anime Ace', sans-serif;
    font-size: 0.65em;
    -webkit-text-stroke: 2.4px rgba(255, 255, 255, 0.9);
    paint-order: stroke fill;
    margin-bottom: 0;
    padding: 0 1.5rem;
}

.note u {
    text-underline-offset: 0.25rem;
}

#remainder {
    -webkit-text-stroke: 3.5px rgba(255, 255, 255, 0.9);
    paint-order: stroke fill;
}

#remainder a {
    color: #a11e15;
    text-underline-offset: 0.25rem;
}

/* MANGA-LIKE PANELS FOR COLLECTION DISPLAY: */
.collection-container {
    /* Approach with CSS grid: */
    display: grid;
    grid-template-columns: repeat(6, 1fr); /* Three equal columns */
    grid-template-rows: 250px 250px 250px;
    gap: 20px;
    padding: 1.5rem;
}

@media (max-width: 568px) {
    .collection {
        padding: 0.5rem;
    }
    .collection-container {
        grid-template-rows: fit-content(100%);
        gap: 10px;
        padding: 0.5rem;
    }
    .note u {
        text-underline-offset: 0.1rem;
    }
    #remainder a {
        text-underline-offset: 0.15rem;
    }
    .manga-panel .card {
        height: auto;
    }
    .card-title {
        font-size: 0.1em;
    }
    .card-text {
        font-size: 0.35rem;
    }
}

.manga-panel {
    background-color: #f4f4f4;
    overflow: hidden;
    position: relative;
    grid-column: span 2;
}

.wide-panel {
    grid-column: 4 / span 3; /* This makes the panel take up two columns */
    grid-row: 2 / span 2; /* This makes the panel take up two rows */
}

.panel-left-top {
    grid-column: 1 / span 3;
    grid-row: 3 / span 1;
    margin-left: 0;
}

.panel-left-bottom {
    grid-column: 1 / span 3;
    grid-row: 2 / span 1;
    margin-right: 0;
}

.manga-panel .card {
    height: 100%;
    width: auto;
    border: none;
    background: white;
    display: flex;
    flex-direction: column;
}

.manga-panel .card-img {
    height: 100%; /* Adjust image height within the panel */
    width: auto;
    object-fit: cover; /* Ensure image covers area without distorting */
    border-radius: 0%;
}

@media (max-width: 992px) {
    .collection-container {
        grid-template-rows: fit-content(100%);
        gap: 10px;
        padding: 0.5rem;
    }
    .manga-panel .card-img {
        object-fit: contain;
    }
    .manga-panel .card {
        width: auto;
        height: 100%;
    }
    .card-title {
        font-size: 1rem; 
        font-weight: 700;
        margin-bottom: 0.2rem;
    }
    .card-text {
        font-size: 0.8rem; 
        line-height: 1.3;
    }
    .card-img-overlay {
        padding: 0.8rem; 
    }
}

.card-img-overlay {
    display: none;
    width: auto;
    height: 100%;
    background-color: #000000ba;
    color:#ffffff;
    border-radius: 0%;
}

.card:hover .card-img-overlay {
    display: block;
}

#team .card {
    width: 80%;       /* Fill the column completely */
    height: 90%;      /* Make both cards the same height */
    margin: 0 auto;    /* Center them just in case */
    /* Optional: Add a shadow to make them pop like the header subtitle */
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2); 
}

footer {
    background-color: #252525eb;
    color: rgb(255, 255, 255);
    text-align: center;
    padding-top: 0.5em;
    padding-bottom: 0.1em;
    margin-bottom: 0;
    border-top: 2px solid black;
    font-family: 'Playfair Display', serif;
    font-weight: 200;
    font-style: italic;
    font-size: 1em;
}

figcaption {
    color:rgb(196, 196, 196);
}